/* * {
    outline: 1px solid red;
} */
body{
    background-color: white;
}
.flex-profile-container{
    display: flex;
    flex-direction: column;
}
.navbar{
    margin-bottom: 40px;
}
.flex-container2{
    width: 90%;
    margin: auto;    
}
#title{    
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    flex-direction: column-reverse;
}
.footer{
    position: fixed;
    bottom: -40px;
    left: 0px;
    width: 100%;
    opacity: .9;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.footer p{
    padding-top: 20px;
}
.col-3, .col-1{
    width: 150px;    
}

.col-2{
    flex-grow: 1;
    margin-left: 50px;
    margin-right: 30px;
    width: 300px;
}
.body li{
    border-bottom: 1px solid grey;
    text-decoration-style: none;
    display: flex;
}
.body a{
    width: 700px;
    text-decoration-line: none;
    padding-top: 20px;
    margin-right: 20px;
}
.body button, .count button{
    border-radius: 10px;
    margin-top: 15px;
    line-height: 20px;
    float: right;
    background-color: lightgrey;
}
.body label, .count label{
   padding-top: 20px;
   margin-right: 5px;
}
.count{
    float: left;
    display: flex;
    margin-top: 10px;
}
.count .qns{
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 5px;
}
#userAvatar{
    height: 30%;
    width: 150px;
    margin-bottom: 10px;
}
#userAvatar img{
    width: 150px;
}
#post{
    font-size: 20px;
    margin-top: -1px;
    width: 20%;    
} 
#post a{
    text-decoration-line: none;
}   
.col-3{
    border: 1px solid grey;
}
.col-3 h2{
    text-align: center;
    line-height: 50px;
    background-color: grey;
    background: linear-gradient(rgba(192,192,192,0.9), rgba(192,192,192,0));
    margin-top: -1px;
    border-bottom: 1px solid grey;
}
.col-1 p{
    padding-top: 10px;
    font-size: 20px;
}
.col-1 button, #post{
    border-radius: 10px;
    background-color: rgba(192,192,192,0.2);
}
.col-1 button{
    font-size: 15px;
}
.col-3 li{
    margin: 20px;
}
@media screen and (max-width: 600px){
    /* * {
        outline: 1px solid red;
    } */
    .col-2{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    
}
.modal-content, .modal-header{
    background-color: lightgrey;
}
@media screen and (max-width:600px){
    #postForm{        
        position: fixed;
        top: 1px;   

    }
}
/* *{
    outline: 1px solid red;
} */
.home td{
    width: 700px;
    text-align: center;
    border-bottom: 1px solid grey;
    height: 30px;
}
#useraccount{
    font-size: 20px;
    text-decoration-line: none;
    color: blueviolet;
    margin-bottom: 30px;
}
.td1{
    text-align: left;
}
#comment .modal-header, #comment .modal-content{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 1px solid grey;
    background-color: white;
    width:60%;  
}
#comment{
    margin-left: 30%;  
    margin-bottom: 50px; 
}
#comment button{
    background-color: skyblue;
}
#description{
    outline: 0px;
}
@media screen and (max-width:600px){
    #comment{
        width: 100%;
        margin-left: 0px;
    }
}