body{
    background: rgba(0, 0, 0, 0.9);    
}
.flex-container{
    display: flex;
    flex-direction: column;    
    width: inherit;
}
.navbar{
    background-color: rgba(0, 0, 0, .4);
    height: 8vh;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 120px;
} 
.signupLinks{
    width: 60vw;
    margin: auto;
    text-align: right;
    padding-top: 10px;
}
.signupLinks li a{
    color: white;
    text-decoration-line: none;
    font-size: 20px;
}
.flex-container2{
    display: flex;  
    justify-content: space-between;
    width: 60vw;
    margin: auto;         
}
.signupForm{
    background-color: white; 
    width: 400px; 
    border-radius: 10px;
}
.signupForm input, button{
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 2px;
}
.introduction{
    color: white;
    width: 400px;
    padding-top: 70px; 
    font-size: 20px; 
}
#formFields{
    display: flex;
    flex-direction: column;
}
#formFields{
    margin: 30px;
}
.menu{
    float: left;    
}
.signupmenu li, .menu li{
    display: inline;
    margin-right: 10px;
}
.signupForm button{
    font-size: 18px;
    background-color:#26D357; 
    color: white;
}
@media screen and (max-width: 600px){
    .flex-container{
        width: 100%;
    }
    .flex-container2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .signupForm, .introduction{
        width: 95%;
        margin: auto;
    }
    .signupLinks{
        display: flex;
        width: 100%;
        margin-left: 0px;
        flex-wrap: wrap;
    }    
    .navbar {
        height: 5%;        
    }
   
}